<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/sign" method="post">
    	<fieldset>
    	<p>User:<input type="text" name="user"/></p>
    		<p>pass:<input type="password" name="password"/></p>
    		<button>Submit</button>
    	</fieldset>
    </form>
  </body>
</html>
