<!DOCTYPE html>
<html>
  <head>
    <title>session</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <strong><%=session.name%></strong>,再次登录</p>
  </body>
</html>
